*{
    margin: 1% 1%;
    
}

body{
    /* background-color: #f4f4f4; */
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;

}

nav{
    display: flex;
    width: 100%;
    /* border: 1px solid green; */
    height: 10vh;
}

nav .nav-items{
    flex: 2;
    display: flex;
    margin-left: 150px;
    align-items: center;
    list-style-type: none;
    /* border: 1px solid red; */

}

.nav-item{
    margin-left: 70px;

}

.nav-items h5{
    font-size: 25px;

}

.active-item{
    color: #FA5E35;
}

.logo{
    /* border: 1px solid black; */
 
}

.actions{
    
    /* border: 1px solid yellow; */
    /* width:280px ;
    height: 70px; */
    
}

.intro-section{
    display: flex;
    flex-direction: row;
    height: 90vh;

}

.left-section{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    position: relative;
    min-height: 100%;
    
}

.left-section h3{
    font-size: 35px;
    /* border: 1px solid black; */

}

.left-section h3 img{
    height: 35px;
}

.left-section h1{
    font-size: 75px;
    
}

h5 img{
    background-color: #FA5E35;
    border-radius: 50%;
    padding: 5px;
}

.sub-headline{
    font-size: 25px;
    font-weight: 300;
    margin-left: 80px;
    /* border: 1px solid yellowgreen; */
}

.text{
    color: grey;
    margin-top: 30px;
    font-size: 20px;

    
}

.action-btn{
    background-color: #FA5E35;
    padding: 15px 35px;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    left: 150px;
    margin-top: 40px

}

.right-section{
    /* border: 1px solid red; */
    flex: 0.5;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.headphone-div{
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column-reverse;
}

.discount{
    height: 150px;
    position: absolute;
    top: 290px;
    right: 380px;
}

.discount-content{
    position: absolute;
    top: 330px;
    right: 420px;
    color: white;
    font-weight: 600;
    font-size: 20px;

}
.headphone{
    height: 500px;

}

#cart{
    width: 200px;  
    margin-top: 10px;
    margin-left: 150px;
}

.dots{
    display: flex;
    /* position: absolute;
    left: 37%;
    top: 75%; */
    /* border: 1px solid black; */
    margin-top: -30px;
    margin-left: 180px;
    
    
}
.yellow-dot{
    background-color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 50%;

}
.tomato-dot{
    background-color: tomato;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 15px;

}

.black-dot{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 15px;

}